* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  list-style: none;
}

.page {
  min-width: 320px;
  min-height: 100vh;
  padding-top: 85px;
  padding-bottom: 40px;
  height: 100%;
  background: #e7f6ff;
}

.page__wrapper {
  max-width: 1080px;
  width: calc(100% - 100px);
  background: #fff;
  margin: auto;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  min-height: 75vh;
}

.header {
  padding: 45px;
  border-bottom: 1px solid #eaeaea;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
}

.logo {
  width: 40px;
  object-fit: contain;
  margin-right: 16px;
}

.header__title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.header__subtitle {
  font-size: 14px;
  line-height: 17px;
}

.header__account {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 200px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #5c5c5c;
}

.header__cart {
  display: flex;
  align-items: center;
}

.header__cart-image {
  margin-right: 10px;
}

.store {
  padding: 40px 60px;
}

.store__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.store__search {
  display: flex;
  align-items: center;
  gap: 13px;
  border: 1px solid #f3f3f3;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 13px 18px;
  max-width: 250px;
}

.store__input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
  line-height: 17px;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  gap: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  width: 200px;
  padding: 20px 30px 30px;
  background: #fff;
  border: 1px solid #f3f3f3;
  box-sizing: border-box;
  border-radius: 40px;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.15);
  transform: translateY(-10px);
}

.card__favorite {
  position: absolute;
  top: 20px;
  left: 30px;
  cursor: pointer;
}

.card__title {
  font-size: 14px;
  line-height: 17px;
}

.card__price-title {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  color: #bdbdbd;
}

.card__price-value {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.card__image {
  display: block;
  width: 100%;
}

.card__buy {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__add-button {
  cursor: pointer;
  color: transparent;
  background: transparent;
  border: none;
}

.cart {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
}

.cart__sidebar {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: #fff;
  height: 100%;
  right: 0;
  bottom: 0;
  width: 385px;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.15);
  padding: 30px;
}

.cart__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 30px;
}

.cart__items {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  background: #ffffff;
  border: 1px solid #f3f3f3;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 20px 20px 30px;
  margin-bottom: 20px;
  overflow: hidden;
}

.cart-item__image {
  display: block;
  max-width: 80px;
  object-fit: contain;
  margin-right: 20px;
}

.cart-item__remove-button {
  display: block;
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.cart-item__remove-button:hover {
  opacity: 1;
  transform: scale(1.08);
}

.cart-item__text {
  margin-right: 12px;
  font-size: 14px;
  line-height: 17px;
}

.cart-item__title {
  margin-bottom: 8px;
}

.cart-item__price {
  font-weight: 700;
}

.order-info {
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 24px;
}

.order-info__content {
  display: flex;
  margin-bottom: 8px;
}

.order-info__value {
  font-weight: 600;
}

.order-info__dots {
  align-self: flex-end;
  flex: 0.9;
  border-bottom: 1px dashed #dfdfdf;
  margin: 7px;
}

.cart__submit-button {
  outline: none;
  border: none;
  padding: 18px;
  background: #9dd558;
  border-radius: 18px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.cart__submit-button:hover {
  background: #aceb60;
}

.cart__submit-button:active {
  background: #90c451;
}
