* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.page {
  min-width: 320px;
  min-height: 100vh;
  padding-top: 35px;
  padding-bottom: 35px;
  height: 100%;
  background-image: linear-gradient(
    to left,
    #f3e7e9 0%,
    #e3eeff 99%,
    #e3eeff 100%
  );
}
.page__wrapper {
  max-width: 1080px;
  width: calc(100% - 100px);
  background: #fff;
  margin: auto;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  min-height: 90vh;
}

.header {
  padding: 45px;
  border-bottom: 1px solid #eaeaea;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
}

.logo {
  width: 75px;
  object-fit: contain;
  margin-right: 16px;
}

.logo_type_login {
  width: 120px;
  margin-right: 0;
  align-self: center;
  margin-bottom: 50px;
}

.header__title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.header__subtitle {
  font-size: 14px;
  line-height: 17px;
}

.header__account {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #5c5c5c;
}

.header__cart {
  display: flex;
  align-items: center;
  cursor: pointer;
  max-width: 200px;
  transition: all 0.3s ease-in-out;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 15px;
}

.header__price {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header__cart:hover {
  box-shadow: 0px 2px 10px rgb(0 0 0 / 15%);
}

.header__cart-image {
  margin-right: 10px;
}

.header__icon {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.header__icon:hover {
  transform: scale(1.1);
}

.store {
  padding: 40px 60px;
}

.store__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.store__title {
  display: block;
  width: 600px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-self: center;
  font-size: 35px;
}

.store__search {
  display: flex;
  align-items: center;
  gap: 13px;
  border: 1px solid #f3f3f3;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px 15px;
  max-width: 250px;
}

.store__input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
  line-height: 17px;
}

.store__search-result {
  padding-top: 60px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  gap: 40px;
}

.card {
  height: 300px;
  gap: 14px;
  width: 200px;
  padding: 20px 30px 30px;
  background: #fff;
  border: 1px solid #f3f3f3;
  box-sizing: border-box;
  border-radius: 40px;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.15);
  transform: translateY(-10px);
}

.card__favorite {
  position: absolute;
  top: 20px;
  left: 30px;
  cursor: pointer;
}

.card__title {
  font-size: 14px;
  line-height: 17px;
  height: 50px;
  margin-bottom: 14px;
}

.card__price-title {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  color: #bdbdbd;
}

.card__price-value {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.card__image {
  display: block;
  width: 100%;
  margin-bottom: 14px;
}

.card__buy {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__add-button {
  cursor: pointer;
  color: transparent;
  background: transparent;
  border: none;
}

.cart {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-out;
}

.cart_visible {
  visibility: visible;
  opacity: 1;
}
.cart__sidebar {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: #fff;
  height: 100%;
  right: 0;
  bottom: 0;
  width: 385px;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.15);
  padding: 30px;
  transform: translateX(100%);
  transition: all 0.2s ease-in-out;
}

.cart__sidebar_visible {
  transform: translateX(0);
}

.cart__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.cart__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}

.cart__items {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 20px;
  padding-right: 10px;
}

.cart-item {
  display: flex;
  align-items: center;
  background: #ffffff;
  border: 1px solid #f3f3f3;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 20px 20px 30px;
  margin-bottom: 20px;
  overflow: hidden;
}

.cart-item__image {
  display: block;
  max-width: 80px;
  object-fit: contain;
  margin-right: 20px;
}

.cart-item__remove-button {
  display: block;
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.cart-item__remove-button:hover {
  opacity: 1;
  transform: scale(1.08);
}

.cart-item__remove-button_type_input {
  width: 25px;
  opacity: 0.8;
}

.cart-item__text {
  margin-right: 12px;
  font-size: 14px;
  line-height: 17px;
}

.cart-item__title {
  margin-bottom: 8px;
}

.cart-item__price {
  font-weight: 700;
}

.order-info {
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 24px;
}

.order-info__content {
  display: flex;
  justify-content: space-around;
  margin-bottom: 8px;
}

.order-info__value {
  font-weight: 600;
}

.order-info__dots {
  align-self: flex-end;
  flex: 0.9;
  border-bottom: 1px dashed #dfdfdf;
  margin: 7px;
}

.button {
  outline: none;
  border: none;
  padding: 18px 30px;
  background: #3cc755;
  border-radius: 18px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.button_type_login {
  margin-top: 20px;
}

.button:hover {
  background: #41d95d;
}

.button:active {
  background: #34ad4a;
}

.button__left-arrow {
  animation: shaking-left-arrow 1.6s infinite ease-in;
}

.button__right-arrow {
  animation: shaking-right-arrow 1.6s infinite ease-in;
}

@keyframes shaking-right-arrow {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }

  40% {
    transform: translateX(10px);
  }

  60% {
    transform: translateX(8px);
  }
}

@keyframes shaking-left-arrow {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }

  40% {
    transform: translateX(-10px);
  }

  60% {
    transform: translateX(-8px);
  }
}

@keyframes changing-btn-opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.button_disabled {
  cursor: default;
  background: #bebebe;
  animation: changing-btn-opacity 0.8s ease-in infinite;
}

.button_disabled:hover {
  background: #bebebe;
}

.button_disabled:active {
  background: #bebebe;
}

.message {
  max-width: 325px;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message__image {
  width: 120px;
  margin-bottom: 20px;
}

.message__title {
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 5px;
}

.message__subtitle {
  font-size: 16px;
  line-height: 24px;
  opacity: 0.4;
  margin-bottom: 20px;
}

.login {
  display: flex;
  justify-content: center;
}

.login__form {
  display: flex;
  flex-direction: column;
  padding: 50px 30px 25px;
  background: #fff;
  border-radius: 25px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
}

.login__title {
  margin-bottom: 25px;
  font-size: 23px;
  text-align: center;
}

.input {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-bottom: 1px solid #e3eeff;
  outline: none;
  font-size: 14px;
}

.order {
  border-bottom: 1px solid #d8e6fc;
  margin-bottom: 40px;
  padding-bottom: 40px;
}

.order:last-child {
  border: none;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.order__title {
  margin-bottom: 25px;
  font-size: 23px;
}
